*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
.fahraniet,.kelvin{
    display: none;
}
.convert{
    width: 100%;
    padding: 10px;
}
.w3-input{
    padding: 20px;
}
.w3-card{
    width: 33%;
}
select{
    cursor: grab;
}

input::placeholder{
    color: black;
}
.adjust{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 25px 0;
}
.active {
    background-color: #666;
    color: white;}